@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">primera  parte de una verguiza test 1 conexion con node </h1>
    <h2 class="display-4">proyecto con node js con una pagina web en c# con la arquitectura de proyecto modelo vista controlador  </h2>


    <h2 class="display-4">primer cambio , con una vez cargados los datos en git   cambio cambio nuimero 3 de pc 2323232323232232322 </h2>

    <h2 class="display-4">hello test  junio  hello   </h2>
   <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
</div>


