@{
    ViewData["Title"] = "Home Page";
}


<head>
    <title>Formulario de solicitud</title>
    <style>
        /* Estilos CSS para el formulario */
        .form-container {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-container input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .form-container input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Solicitud de información</h2>
        <form id="myForm">
            <label for="arquitectura">Arquitectura:</label>
            <input type="text" id="arquitectura" name="arquitectura" required>

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" required>

            <label for="cantidad">Cantidad:</label>
            <input type="text" id="cantidad" name="cantidad" required>

            <input type="submit" value="Enviar">
        </form>
    </div>

    <script>
        // Obtener referencia al formulario
        var form = document.getElementById("myForm");

        // Asignar evento submit al formulario
        form.addEventListener("submit", function(event) {
            event.preventDefault(); // Evitar el envío del formulario

            // Obtener valores de los campos
            var arquitectura = document.getElementById("arquitectura").value;
            var modelo = document.getElementById("modelo").value;
            var cantidad = document.getElementById("cantidad").value;

            // Realizar cualquier acción adicional con los datos ingresados
            console.log("Arquitectura:", arquitectura);
            console.log("Modelo:", modelo);
            console.log("Cantidad:", cantidad);

            // Restablecer formulario
            form.reset();
        });
    </script>
</body>


